*{
    margin: 0px;
    padding: 0px;
}


.same{
    margin: 10px;
    padding: 20px;
    border: 2px solid yellowgreen;
}

#one{
    background-color: red;
}

#three{
    background-color: pink;
}

#four{
    background-color: blue;
}

