*{
    padding: 0px;
    margin: 0px;
    background-color: black;

}
#name{
     color: white;
}

#binto{
    height: 60vh;
    display: grid;
    border: 1px solid white;

    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr 1fr;
}

.box{
    color: white;
    border: 1px solid blue;

}
