*{
    margin: 0px;
    padding: 0px;
}

#big-container{
    width: fit-content;
   height: 500px;
    border: 1px solid black;
    display: flex;
}

.small-container{
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

#static-position{
    position:static;
    /* top: 200px; /
    you cannot change its positon and you cannot perform padding in it. it is not moveable */

}